<%-include('header')%>
<body>

 <H1>Ferures</H1>
 <ul>
    <li>
        <label>Feture</label>
        <p>Featur Discription</p>
    </li>
    <li>
        <label>Feture</label>
        <p>Featur Discription</p>
    </li>
    <li>
        <label>Feture</label>
        <p>Featur Discription</p>
    </li>
 </ul>


</body>


<%-include('footer')%>